# Flask framework and extensions
Flask
Flask-SQLAlchemy
Flask-CORS
flask_migrate

# Other database
SQLAlchemy

# Requests library for making HTTP requests
requests

# Date and time handling
pytz

# To use env variables
python-dotenv
PyJWT==2.8.0
psycopg2==2.9.10