/* Map.css */

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-canvas {
  width: 794px; /* Fixed width for canvas */
  height: 1123px; /* Fixed height for canvas */
  border: 1px solid black; /* Optional: to visualize the canvas border */
}

.menu {
  margin-top: 20px;
}

.color-buttons button {
  margin: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
